body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #e6e6e6;
  color: #111;
}


.top-bar {
  background: #d0d0d0;
  border-bottom: 2px solid #999;
  padding: 8px 12px;
  font-size: 15px;
}

.container {
  display: flex;
  height: calc(100vh - 34px);
}

.sidebar {
  width: 200px;
  background: #f2f2f2;
  border-right: 1px solid #999;
  padding: 10px;
}

.nav-item {
  border: 2px solid #aaa;
  background: #e0e0e0;
  padding: 6px;
  margin-bottom: 6px;
  font-size: 14px;
  cursor: pointer;
}

.main-panel {
  flex: 1;
  padding: 12px;
}

.module {
  border: 2px solid #888;
  background: #fff;
}

.module-header {
  background: #cfcfcf;
  border-bottom: 1px solid #888;
  padding: 6px;
  font-size: 16px;
}

.module-content {
  padding: 10px;
  font-size: 15px;
}
.center {
  text-align: left;
}
.now-playing {
  display: flex;
  align-items: center;    
  justify-content: flex-start;
  gap: 1rem;
}

.player-icon {
  width: 200px;          
  height: auto;
  border: 4px solid #888;
  background: #e6e6e6;
  padding: 5px;
}

.now-right {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
}

.now-right audio {
  width: 260px;
  max-width: 40vw;
}

.audio-player audio { width: auto; }
h3 {
  margin: 0;
  font-size: 16px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  letter-spacing: 1px;
  text-align: center;
  text-decoration:none
}
a {
  font-size: 18px;
  color: #2130cb;
  text-decoration: underline;
}